*{
    padding: 0;
    margin: 0;
}

.bg{
    position: relative;
    background-image: url(eCargo_images/ship.jpg);
    min-height: 100%;
    width : 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}
.center
{
  margin-left: auto;
  margin-right: auto;
}

th,td
{
 height : 50px;
 width : 100px;
 text-align: center;
 
 
}

table{
    padding-top: 100px;
    padding-bottom: 100px;
}

table, th, td {
 
  border: 1px solid white;
  border-collapse: collapse;
  color: aliceblue;
  
}

.container1{
  
  padding-top: 100px;
  padding-right: 30px;
  padding-left: 80px;
  padding-bottom: 10px;

  justify-content: center;
  align-items: center;

}

.container2
{
  
  
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;


}

.container3{

  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 200px;
  padding-left: 80px;
}



p {
  /* Center horizontally*/
  text-align: center;
}

.navbar{
position: sticky;
top: 0;
z-index: 100;
}


input[type=text] {
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    
    width: 100%;
    background-color: #2c882c5d;
    color: white;
    padding: 4px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #222122;
    text-align: center;
    color: #fff;
}

